<style>
	div {background-color: white;
		margin-right: 200px;
		margin-left: 200px}
</style>

<h1>LearningZone - Simple Maths</h1>
<div>Welcome to your one stop shop to learn mathematics. By starting our questions you will gradually move up the ladder to becoming a maths genius in your class, all it takes is practice. We also have little helpful tips along the way in case you are having a little difficulty on any questions, but try your best to get the answer without the tips.</div>
