<h1>Error</h1>
<h5>The page you were looking for doesn't exist (404)<br/>
	You may have mistyped the address or the page may have moved.</h5>
<a href = '/home/index'><%= image_tag 'notfound.jpg'%></a>