<h1>Error</h1>
<h5>We're sorry, but something went wrong (500).<br/>
	Please contact the administrator of the site if it persists.</h5>
<a href = '/home/index'><%= image_tag 'oops.jpg', :alt => 'oops' %></a>
